/*Elementos*/
body {
    background-color: rgb(204, 204, 204);
}

footer{
    height: 100%;
    background-color: #bf1b27;
    width: 100%;
    padding: 3px;
    text-align: center;
    color: bisque;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
/*Clases*/

.menuSide {
    list-style-type:none;
    padding: 2px;
    border-radius: 5px;
}

.menuSide li {
    background-color: #bf1b27;
    color:white;
    border-radius: 5px;
    margin: 1px;
    text-align: center;
}

.menuSide li a {
    text-decoration: none;
    color: white;
}

.banner{
    width: auto;
    height: auto;
    background-color: #263d54;
    width: 100%;
    padding: 3px;
    text-align: center;
    color: bisque;
}

.textoPie {
    width: 60%;
    height: auto;
    display:inline-flex;
    justify-content: space-evenly;
}

.escudo{
    height: 75px;
    margin: 0 10px 0 10px;
}


.container {  
    display: grid;
    grid-template-columns: 1fr 1.7fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "buscador buscador buscador"
        "filtros boletin linksinteres"
        "filtros boletin linksinteres"
        "filtros boletin linksinteres"
        "filtros boletin linksinteres"
        "filtros boletin linksinteres"
        "filtros boletin linksinteres";
    }

    .buscador { 
        grid-area: buscador; 
    }

    .filtros { 
        grid-area: filtros;
        padding: 0 5px 0 5px;
        margin: 0 5px 0 5px;
        background-color:  rgb(190, 190, 190);
        border-radius: 5px; 
    }

    .boletin { 
        grid-area: boletin;
        height: 95%;
        padding: 0 5px 0 5px; 
        margin: 0 5px 0 5px;
        background-color:  rgb(190, 190, 190);
        border-radius: 5px;
    }

    .linksinteres { 
        grid-area: linksinteres;
        padding: 0 5px 0 5px;
        margin: 0 5px 0 5px;
        background-color:  rgb(190, 190, 190);
        border-radius: 5px; 
    }


/*Identificadores*/



#buscador {
display: block;
box-sizing: border-box;
float: left;
line-height: 20px;
position: relative;
padding: 6px 12px 6px 12px;
}

#submit {
box-sizing: border-box;
display: inline-block;
float: none;
line-height: 20px;
position: relative;
}

